- var color_default = '#444444';
- var color_grey = '#808080'
- var key_style = `color: ${color_grey}; font-size: 0.8rem; margin-bottom: 0.2rem; opacity: 0.6;`
- var field_gap_style = `margin-top: 30px`;
- var field_val_sub_style = `font-size: 0.8rem`;

doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Document
  style(type="text/css").
    @page {
      size: A4 portrait;
      margin: 50px;
    }
div(style='padding-left: 5px; color: #444444')
  div(style='display: flex; flex-direction: row; justify-content: space-between')
    div
      img(src='https://moa.ubc.ca/wp-content/uploads/2021/02/BCID_H_rgb_pos.png' height='65px')
    div(style='margin-top: 10px; font-size: 0.8rem')
      div LAST MODIFIED
      div(style='text-align: right') #{updatedAt}
  
  //- Title Section
  div(style='margin-top: 60px')
    h1 #{title}
  
  //- PIA Intake Section
  div(style='margin-top: 30px;')
    h2(style='border-bottom: 1px solid black; display: inline-block;') PIA Intake
  
  div(style='margin-top: 10px; display: flex; flex-direction: row')
    div(style='width: 30%')
      div
        div(style=`${key_style}`) Filled By
        div #{drafterName}
        div(style=`color: ${color_grey}; ${field_val_sub_style}`) #{drafterEmail}
      
      div(style=`${field_gap_style}`)
        div(style=`${key_style}`) Initiative lead
        div #{leadName}
        div(style=`color: ${color_grey}; ${field_val_sub_style}`) #{leadEmail}

      div(style=`${field_gap_style}`)
        div(style=`${key_style}`) MPO
        div #{mpoName}
        div(style=`color: ${color_grey}; ${field_val_sub_style}`) #{mpoEmail}

    div(style='width: 70%; padding-left: 10px')
      div
        div(style=`${key_style}`) Ministry
        div #{ministry}
      
      div(style=`${field_gap_style}`)
        div(style=`${key_style}`) Branch
        div #{branch}

      div(style=`${field_gap_style}`)
        div(style=`${key_style}`) What is the initiative
        div !{initiativeDescription} 

      div(style=`${field_gap_style}`)
        div(style=`${key_style}`) PIA Scope
        div !{initiativeScope}

      div(style=`${field_gap_style}`)
        div(style=`${key_style}`) Data or information elements involved in the initiative
        div !{dataElementsInvolved}

      div(style=`${field_gap_style}`)
        div(style=`${key_style}`) Contains personal information?
        if hasAddedPiToDataElements == true 
          div Yes
        if hasAddedPiToDataElements == false 
          div No
        if hasAddedPiToDataElements == null 
          div I'm not sure
        
      if !!riskMitigation
        div(style=`${field_gap_style}`)
          div(style=`${key_style}`) How will the risk of unintentionally collecting personal information be reduced
          div !{riskMitigation}

  //- Signature Section
  div(style='margin-top: 60px;')
    h2 Signatures
    
  //- Initiative Lead Signature Section
  div(style='margin-top: 50px;')
    h4(style='font-style: italic;') Initiative Lead
  
  div(style='margin-top: 80px; display: flex; flex-direction: row; font-weight: bold;')
    div(style='width: 33.33%; margin-right: 30px;')
      div(style='border-bottom: 1px black solid; ')
      div(style='text-align: center; margin-top: 10px;') Name

    div(style='width: 33.33%; margin: 0 15px;')
      div(style='border-bottom: 1px black solid;')
      div(style='text-align: center; margin-top: 10px;') Signature

    div(style='width: 33.33%; margin-left: 30px;')
      div(style='border-bottom: 1px black solid;')
      div(style='text-align: center; margin-top: 10px;') Date signed

  //- MPO Signature Section
  div(style='margin-top: 80px;')
    h4(style='font-style: italic;') Ministry Privacy Officer (MPO)
  
  div(style='margin-top: 80px; display: flex; flex-direction: row; font-weight: bold;')
    div(style='width: 33.33%; margin-right: 30px;')
      div(style='border-bottom: 1px black solid; ')
      div(style='text-align: center; margin-top: 10px;') Name

    div(style='width: 33.33%; margin: 0 15px;')
      div(style='border-bottom: 1px black solid;')
      div(style='text-align: center; margin-top: 10px;') Signature

    div(style='width: 33.33%; margin-left: 30px;')
      div(style='border-bottom: 1px black solid;')
      div(style='text-align: center; margin-top: 10px;') Date signed
    
  //- MPO Comment Section
  div(style='margin-top: 80px;')
    h4(style='font-style: italic;') MPO Comment
  
  div(style='margin-top: 60px; width: 100%; border-bottom: 1px solid black; font-weight: bold;')

//- EOF
